body{
  background: url('/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #601232;
  overflow-x: hidden;
  width:100vw;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    min-width: 70vw;
    max-width: 90vw;
    /* overflow-x: hidden; */
  }
  .top-20{
  top:20%;
  }
  .start-25{
    left:25%;
  }
  .imgGroup{
    align-self:unset;
    
  }
  .imgGroup img{
  margin-top: 5rem;
  width:100% !important;
  }
  .gate {
    min-width: 100% !important;
  }

  .submit-button {
    background-color: #B48995;
    color: #7D122E;
    border-color: #7D122E;
    font-size: 20px;
    font:bold;
    border-radius: 5px;
  }
  
  @media (max-width: 700px) {
   .imgGroup{
    display: none;
   }
   .position-fixed{
    display: block;
    margin: 0 auto;
   }
  
   .container{
    margin: 0 auto;
   }
  }
  
  