body{
  background: url('/img/Rectangle.svg');
  background-size: cover;
  background-position: center;
  background-color: #601232;
  overflow-x: hidden;
  width:100vw;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    overflow-x: hidden;
   
  }
  .top-20{
  top:20%;
  }
  .start-25{
    left:25%;
  }
  .imgGroup{
    align-self:unset;
    
  }
  .imgGroup img{
  margin-top: 5rem;
  width:100% !important;
  }
  .gate {
    max-width: 150% !important;
  }
  
  @media (max-width: 700px) {
   .imgGroup{
    display: none;
   }
   .position-fixed{
    display: block;
    margin: 0 auto;
   }
  
   .container{
    margin: 0 auto;
   }
  }
  
  